.btn-group {
  white-space: nowrap;
}

.btn-group > .btn {
  float: none;
  display: inline;
  margin-right: -2px;
}

.page-header {
  padding-bottom: 9.5px;
  margin: 42px 0 21px;
  border-bottom: 1px solid transparent;
}

h1, .h1, h2, .h2, h3, .h3 {
  margin-top: 21px;
  margin-bottom: 10.5px;
}

h2, .h2 {
  font-size: 32px;
}

h3, .h3 {
  font-size: 26px;
}

.subtitle {
  display: inline-block;
  text-align: center;
  font-size: 12px;
  color: #000000;
  opacity: 0.9;
  text-decoration: none;
}
subtitle-link {
  display: inline-block;
  text-align: center;
  font-size: 12px;
  color: #2c3e50;
  opacity: 0.9;
  text-decoration: none;
}

@bw: 3px;

.container {
  background-color: rgba(0,186,170, 0.7);
}

.Rtable {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 3em 0;
  padding: 0;
}

.Rtable-cell {
  opacity: 0.8;
  box-sizing: border-box;
  flex-grow: 1;
  width: 100%;
  padding: 0.8em 1.2em;
  overflow: hidden;
  list-style: none;
  border: solid @bw white;
  background: #ffffff;}

> h1, > h2, > h3, > h4, > h5, > h6 { margin: 0; }



.Rtable--2cols > .Rtable-cell  { width: 50%; }
.Rtable--3cols > .Rtable-cell  { width: 33.33%; }
.Rtable--4cols > .Rtable-cell  { width: 25%; }
.Rtable--5cols > .Rtable-cell  { width: 20%; }
.Rtable--6cols > .Rtable-cell  { width: 16.6%; }

body {
  background-image: url("../../user/src/main/resources/static/logo_transparent.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

}